<%- include('./partials/head') %>
    <button onclick="toggleHide()">Edit User</button>
    <a href="/contacts/<%=contact.id%>/delete">Delete</a>
    <div id="user">
        <h3>Name:</h3>
        <h3>
            <%=contact.name %>
        </h3>
        <p>Telefon:</p>
        <p>
            <%=contact.tel %>
        </p>
        <p>Gender:</p>
        <p>
            <%=contact.gender %>
        </p>

        <p>Statement:</p>
        <p>
            <%= contact.statement %>
        </p>
    </div>

    <form action="/contacts/<%=contact.id%>/edit" method="POST" id="myForm" class="hide">
        <input type="text" name="name" placeholder="Name" value="<%=contact.name %>">

        <input type="email" name="email" placeholder="Email" value="<%=contact.email %>">

        <input type="tel" name="tel" value="<%=contact.tel %>">

        <label for="male">Male</label>
        <input type="radio" name="gender" value="male" id="male" <%=contact.gender==="male" ? "checked" : "" %>>

        <label for="female">Female</label>
        <input type="radio" name="gender" value="female" id="female" <%=contact.gender==="female" ? "checked" : "" %>>

        <label for="other">Other</label>
        <input type="radio" name="gender" value="other" id="other" <%=contact.gender==="other" ? "checked" : "" %>>

        <textarea name="statement" cols="30" rows="10"
            placeholder="Statement about yourself"><%=contact.statement%></textarea>
        <input type="submit" value="Send">
    </form>

    <%- include('./partials/foot') %>